/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
